// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-1 {
    background: #10437d;
}
.bg-2 {
    background:#0c60c0;
}
.bg-3 {
    background: #2a9fd8;
}
.bg-4 {
    background: #bb6546;
}
.bg-5 {
    background: #6b301d;
}
.bg-0 {
    background: black;
}

.bg-50 {
    background: #e49999;
}
.bg-99 {
    background: #fad8a5;
}
.bg-100 {
    background: #a0d9ce;
}

a.list-group-item.current::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 12px 0 12px;
    position: absolute;
    top: 100%;
    left: 45%;
}

a.list-group-item.current-1::before {
    border-color: #10437d transparent transparent transparent;
}
a.list-group-item.current-2::before {
    border-color: #0c60c0 transparent transparent transparent;
}
a.list-group-item.current-3::before {
    border-color: #2a9fd8 transparent transparent transparent;
}
a.list-group-item.current-4::before {
    border-color: #bb6546 transparent transparent transparent;
}
a.list-group-item.current-5::before {
    border-color: #6b301d transparent transparent transparent;
}
a.list-group-item.current-0::before {
    border-color: black transparent transparent transparent;
}

a.list-group-item:hover {
    color: black !important;
}

a.list-group-item:focus {
    color: black !important;
    font-weight: bold;
}

a.card-link:hover {
    text-decoration: none;
}

.square {
    width: 10px;
    height: 10px;
}

a.fab {
    width: 60px;
    height: 60px;
    background-color: crimson;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 #666;
    transition: all 0.1s ease-in-out;
  
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 55px;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }
  
 a.fab:hover {
    box-shadow: 0 6px 10px 0 #666;
    transform: scale(1.05);
    text-decoration: none;
 }